:root {
  --ff-sans: "Poppins", sans-serif;

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 700;

  --fs-small: 0.65rem; /* 10.4px */
  --fs-normal: 0.9rem; /* 14.4px */
  --fs-large: 1.25rem; /* 20px */
  --fs-extra-large: 2rem; /* 32px */

  --lh-small: 1.4;
  --lh-normal: 1.5;

  --tx-color-light: #fff;
  --tx-color-medium: #545465;
  --tx-color-dark: #2b2a35;

  --clr-neutro-light: #f0eff4;
  --clr-neutro-dark: #d7d7d7;
  --clr-accent-yellow: #fbcc2b;
  --clr-primary-dark: #5318eb;
  --clr-primary-light: #ab6ef9;
  --gradient-basic: linear-gradient(90deg, #5318eb 0%, #ab6ef9 100%);
}
