main {
  margin: 0;
  background-color: transparent;
}

ul {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  row-gap: 50px;
  list-style: none;
}

.card {
  height: 510px;
  max-width: 320px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 320px;
  background-color: white;
  box-shadow: 0px 5px 20px 0px rgba(103, 110, 144, 0.15);
  border-radius: 15px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.overlay {
  height: 0;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  border-radius: 15px;
  background: var(--gradient-basic);
  transition: height 0.5s;
}

.title-overlay {
  font-size: var(--fs-extra-large);
  font-weight: var(--fw-bold);
  color: var(--tx-color-light);
}

.card:hover .overlay {
  height: 100%;
}

.card__image {
  width: 100%;
  height: 200px;
  position: relative;
}

.card__image__background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card__image__label {
  padding: 3px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 25px;
  text-align: center;
  font-weight: 700;
  background: var(--background-main, #f0eff4);
}

#label__difficulty {
  background: var(--gradient-label);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card-text {
  height: 220px;
  padding: 0 15px;
  line-height: var(--lh-normal);
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  row-gap: 10px;
}

.content-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.title-name {
  font-weight: var(--fw-bold);
}

.title-logo {
  height: 20px;
}

.card-description {
  width: 100%;
  color: var(--tx-color-medium);
}

.card-year,
.card-creator {
  color: var(--tx-color-medium);
}

.bold {
  font-weight: 600;
}

.card-users {
  display: none;
}

.card-label {
  height: 60px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.item-label {
  display: flex;
  flex: 0 0 80px;
  flex-direction: column;
  align-items: center;
  align-self: start;
  row-gap: 5px;
}

.label-text {
  font-size: var(--fs-small);
  border-radius: 5px;
  color: var(--tx-color-medium);
}
