@import "./views/home.css";
@import "./views/apiKey.css";
@import "./views/chatGroup.css";
@import "./views/chat.css";
@import "./views/notFound.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --ff-sans: "Poppins", sans-serif;

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 700;

  --fs-extra-small: 0.75rem; /* 12px */
  --fs-small: 0.875rem; /* 14px */
  --fs-normal: 1rem; /* 16px */
  --fs-large: 1.25rem; /* 20px */
  --fs-extra-large: 2rem; /* 32px */

  --lh-small: 1.4;
  --lh-normal: 1.5;

  --box-shadow-button: 0px 5px 5px 0px rgba(103, 110, 144, 0.15);

  --tx-color-light: #fff;
  --tx-color-medium: #545465;
  --tx-color-dark: #2b2a35;

  --clr-neutro-light: #f0eff4;
  --clr-neutro-dark: #d7d7d7;
  --clr-accent-yellow: #fbcc2b;
  --clr-primary-dark: #5318eb;
  --clr-primary-light: #ab6ef9;
  --clr-gradient-yellow: linear-gradient(90deg, #ff9e2c, #ffd02c);
  --clr-gradient-basic: linear-gradient(90deg, #5318eb 0%, #ab6ef9 100%);
  --clr-gradient-label-blue: linear-gradient(90deg, #1243fd 0%, #721ecd 50%);
  --clr-gradient-label-purple: linear-gradient(
    90deg,
    #8d49f7,
    #6b53ff,
    #8d49f7
  );
  --clr-label-border: rgba(13, 14, 19, 0.08);
  --clr-label-background: rgba(107, 83, 255, 0.04);
  --clr-chat-division: rgba(0, 0, 0, 0.18);
}

html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, textarea[name="user-input"] {
  font-family: var(--ff-sans);
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  line-height: var(--lh-normal);
  width: 100%;
  background-color: var(--clr-neutro-light);
}

::placeholder {
  font-family: var(--ff-sans);
}

button:active {
  transform: translateY(2px);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header__select {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px;
  }

  .header__btn__clear,
  .header__btn__ranking {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  h2 {
    display: none;
  }

  h1 {
    font-size: var(--fs-large);
  }

  .header__hero {
    width: 100%;
  }

  .header__hero__introduction {
    display: none;
  }

  .header__select {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
  }

  .chat__group__main {
    grid-template-columns: 1fr;
  }

  .technologies {
    display: none;
  }

  .container__text {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
}
